## encoding: utf-8

<%inherit file="adam.auth.template.master"/>

<%block name="title">Password — Settings — Account</%block>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="post">
    ${parent.post()}

	<script src="/js/changedelay.js" charset="utf-8"></script>
	<script src="/js/vendor/zxcvbn.js" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        $(function(){

			$('#newpassword-field').changeDelay(function(){
				var self = $(this),
					result = zxcvbn(self.val(), [$('#currentpassword-field').val()]),
					other = $('#newpasswordconfirm-field');

				self.removeClass('poor ok excellent');
				other.val('').change();

				if ( result.score < 2 ) {
					self.addClass('poor');
				} else if ( result.score < 3 ) {
					self.addClass('ok');
				} else {
					self.addClass('excellent');
				}
			});

			$('#newpasswordconfirm-field').changeDelay(function(){
				var self = $(this),
					other = $('#newpassword-field');

				if ( self.val() != other.val() ) {
					self.removeClass('excellent').addClass('poor');
				} else {
					self.removeClass('poor').addClass('excellent');
				}
			});

        });
    </script>
</%block>

<div class="container-fluid">
    <div id="pad-wrapper">
        <div class="header">
            <h3>Settings: Change Password</h3>
        </div>

		${form}
        
    </div>
</div>

